server:
  error:
    include-stacktrace: never

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/northern_lights?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=America/Sao_Paulo
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    servlet:
      multipart:
        enabled: true
        max-file-size: 12MB   # Define o tamanho máximo de cada arquivo
        max-request-size: 12MB # Define o tamanho máximo da requisição

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        connection:
          characterEncoding: utf8
          useUnicode: true

  sql:
    init:
      mode: always

  application:
    name: NORTHERN LIGHTS

  jackson:
    time-zone: America/Sao_Paulo

file:
  upload-dir: uploads

jwt:
  secret: MinhaChaveSuperSecreta1234567890123456
  expiration: 86400000
